/*
	ADMIN CSS CODES
*/


.wp-block-zidithemes-text-img-block {}

.wp-block-zidithemes-text-img-block h2 {
    color:  #fff !important;
}


.wp-block-zidithemes-text-img-block p{
    color: #fff !important;
}

.wp-block-zidithemes-text-img-block .zidithemes-mg{}

.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap{
	display: grid;
    background: #3f3f3f;
    grid-template-columns: repeat(2, 2fr);
    transition: 0.5s;
    padding: 0px 0px;
    box-sizing: border-box;
}

.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items{}

.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items:nth-child(1){
	grid-row: 1/4;
    grid-column: 1/2;
}

.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items:nth-child(2){
	grid-row: 2/3;
}

.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items .image-active{}
.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items .image-inactive{}


.wp-block-zidithemes-text-img-block .zidithemes-mg .grid-wrap .grid-items .img-wrap .author-img {
    box-shadow: 9px 13px 13px rgba(0, 0, 0, 0.2) !important;
}
